<div class="row">
  <div class="12 columns">
    <form class="custom">
      <div class="row">
        <div class="large-6 columns">
          <div class="row collapse">
            <div class="large-9 small-9 columns">
              <span class="prefix">mysubdomain</span>
            </div>
            <div class="large-3 small-3 columns">
              <select>
                <option>.com</option>
                <option>.co</option>
                <option>.ca</option>
              </select>
            </div>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="row collapse">
            <div class="large-10 small-10 columns">
            <select>
              <option>google</option>
              <option>yahoo</option>
              <option>bing</option>
            </select>
            </div>
            <div class="large-2 small-2 columns">
              <span class="postfix">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row collapse">
        <div class="large-8 small-8 columns">
          <select>
            <option>google</option>
            <option>yahoo</option>
            <option>bing</option>
          </select>
        </div>
        <div class="large-4 small-4 columns">
          <a href="#" class="button postfix">Button</a>
        </div>
      </div>
    </form>
  </div>
</div>