<%= render 'form' %>
<div class="row">
  <div class="large-12 columns">
    <h4>Search Result:</h4>
    <table style="width: 100%; max-height: 400px;" class="responsive">
      <thead>
        <tr>
          <th>Price (SGD)</th>
          <th>Site name</th>
          <th>Bedrooms</th>
          <th>Bathrooms</th>
          <th>Size (sqft)</th>
          <th>Phone number</th>
        </tr>
      </thead>
      <tbody>
        <%- @properties.each do |p| -%>
          <%= render 'property', property: p %>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>
